{% extends "base.html" %}
{% block body %}
    
    <div class="container">  
      <div class="hero-unit">
        <h2>About Me</h2>
        <div class="row">
          <div class="span3">
             <img src="/static/img/me.jpg" id="me" class="img-rounded"></img>
          </div>
          <div class="span7" class="text-center">
                <p>I'm a freshman at Stanford University studying computer science. When I'm not
                   studying I enjoy rocking out with the Stanford Band. I'm also actively involved with
                   the American Indian community on campus, including the Stanford Powwow and the Stanford 
                   AISES chapter.
                 </p>
                 <br>
                 <p> You can find me on: 
                    <a href="mailto:me [at] markjberger.com"><img src="static/img/gmail_64.png"></a>
                    <a href="http://www.linkedin.com/pub/mark-berger/6b/2aa/aa9" target="blank_"><img src="static/img/linkedin_64.png"></a>
                    <a href="http://www.github.com/markberger" target="blank_"><img src="static/img/github_64.png"></a>
                 </p>
          </div>
        </div>
      </div>    
    </div>    
    
    
{% endblock %}
