{% extends "base.html" %}
{% block body %}
     
      <div class="hero-unit">
        <h2>About Me</h2>
        <div class="row-fluid">
          <div class="span3">
             <img src="/static/img/me.jpg" id="me" class="img-polaroid"></img>
          </div>
          <div class="span9" class="text-center">
                <p>I'm a freshman at Stanford University studying computer science. When I'm not
                   studying I enjoy rocking out with the Stanford Band. I'm also actively involved with
                   the American Indian community on campus, including the Stanford Powwow and the Stanford 
                   AISES chapter.
                 </p>
          </div>
        </div>
      </div>    
    </div>    
    
    
{% endblock %}
