{% extends "base.html" %}
{% block body %}
     
      <div class="hero-unit">
        <h2>About Me</h2>
        <div class="row-fluid">
          <div class="span3">
             <img src="/static/img/me.jpg" id="me" class="img-polaroid"></img>
          </div>
          <div class="span9" class="text-center">
                <p>I'm a sophomore at Stanford University who is passionate about 
		  open source. My interests include distributed systems, machine learning,
		  web development, and computer science education. I'm also actively involved with
                   the American Indian community on campus, including the Stanford Powwow and the Stanford 
                   AISES chapter.
                 </p>
          </div>
        </div>
      </div>    
    </div>    
    
    
{% endblock %}
