{% extends "base.html" %}

{% block body %}

    <div class="hero-unit">
        <h2>Projects</h2>
	<h3>Tally</h3>
	<div class="row-fluid">
	  <div clas="span12">
	    <p>An IRC bot written in Go that helps you keep track of your open source project.</p>
	    <a href="http://github.com/markberger/tally">Github</a>
	  </div>
	</div>
	<br>
        <h3>Stanford AISES</h3>
        <div class="row-fluid">
        	<div class="span5 text-center">
        		<img class="img-polaroid" src="/static/img/stanford-aises.png">
        	</div>
        	<div class="span6 offset1">
        		<p>I am the Webmaster for the AISES chapter at Stanford University. The website is
        			built using Flask with Twitter Bootstrap and then deployed statically using
        			Frozen-Flask and Fabric.
        			<br>
        			<br>
        			<a href="http://aises.stanford.edu">Site</a>&nbsp&nbsp<a href="https://github.com/markberger/stanford-aises"> Source</a>
        		</p>
        	</div>
        </div>

        <br>
        <br>
        <div class="row-fluid">
        	<div class="span5 text-center">
        		<img class="img" src="/static/img/tahoe-logo.png">
        	</div>
        	<div class="span6 offset1">
        		<p>I am currently a Google Summer of Code student working on Tahoe-LAFS for the Python Software Foundation. My project is to implement a new upload algorithm which will optimize the distribution of erasure encoded files.
        			<br>
        			<br>
        			<a href="https://tahoe-lafs.org/trac/tahoe-lafs">Site</a>&nbsp&nbsp<a href="https://github.com/markberger/tahoe-lafs"> Source</a>
        		</p>
        	</div>
        </div>
        <br>
        <p>To view more of my projects check out my <a href="http://github.com/markberger">Github page</a>.
    </div>


{% endblock %}
